@model BookmarksManager.Models.Bookmark

@{
    ViewBag.Title = "Create";
    string faviconUrl = Model.Url != null ? "http://www.google.com/s2/favicons?sz=64&domain=" + Model.Url : "/bookmark_logo.png";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="favicon" class="faviconBig" style="background-image: url('@faviconUrl');"></div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.Title)
    <div class="col-md-10">
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.Url)
    <div class="col-md-10">
        @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
    </div>

    <hr />
    <input type="submit" value="Soumettre" class="btn btn-primary" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        /*$("#Url").on("keyup", function () {
            var url = "https://www.google.com/s2/favicons?sz=64&domain=" + $(this).val();
            $("#favicon").css('background-image', `url(${url})`);
        })*/
        function setFavicon(siteUrl) {
            var faviconUrl = "https://www.google.com/s2/favicons?sz=64&domain=" + siteUrl;
            $("#favicon").css('background-image', `url(${faviconUrl})`);
        }
        var timeout = null;
        $('#Url').keyup(function () {
            clearTimeout(timeout);
            timeout = setTimeout(() => {
                setFavicon($(this).val());
            }, 1000);
        });
    </script>
}
